body {
	font-family: sans-serif;
	margin: auto;
	max-width: 1280px;
	text-align: center;
}

p.title {
	font-family: Helvetica;
	font-size: 22px;
	color: #484848;
	text-align: center;
	margin-top: 50px;
}

p.success {
	display: inline-block;
	background: #F4FFDA;
	border-radius: 16px;
	padding: 10px 20px;
	text-align: left;
	font-family: Helvetica;
	font-size: 15px;
	color: #83BE3F;
}
p.success img {
	float: left;
	margin: 15px 15px 15px 5px;
}
p.success span {
	display: inline-block;
	font-family: Helvetica;
	font-size: 20px;
	color: #417505;
	margin: 8px 0 6px 0;
}


.btn {
	display: inline-block;
	position: relative;
	margin: 20px 0;
	background-image: linear-gradient(-180deg, #5AABE4 0%, #4A90E2 100%);
	border: 1px solid #1C508C;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
	border-radius: 8px;
	padding: 20px 30px;
	font-family: Helvetica-Bold;
	font-size: 22px;
	color: #FFFFFF;
	text-align: center;
}
.btn img {
	height: 42px;
	vertical-align: middle;
	margin: -3px 10px 0 0;
}
.btn img[src="images/loading.png"] {
	-webkit-animation: rotating 1s linear infinite;
}

.file {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: green;
	opacity: 0.0001;
}

#photos { text-align: center; }
#photos img {
	width: 90%;
	border-radius: 10px;
	margin: 2%;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}
