html, body {
	background-color: black;
	height: 100%;
	margin: 0;
}

#photos {
	overflow: hidden;
	height: 100%;
	width: 100%;
	overflow: hidden;
	white-space:nowrap;
}

#photos .photo {
	height: 100%;
	width: 100%;
	display: inline-block;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

#photos .photo img {
	height: 100%;
}